<!DOCTYPE html>
<html>
<head>
  <title><%= _.slugify(appname) %></title>
  <%%= stylesheet_link_tag    'application', media: 'all' %>
  <%%= csrf_meta_tags %>
</head>
<body>
  <%%= yield %>

  <%%= webpack_manifest_script %><% if (includeModernizr) { %> 
  <%%= javascript_include_tag 'modernizr' %><% } %>
  <%%= webpack_bundle_tag 'main' %>
  <%%= javascript_include_tag 'application' %>
</body>
</html>

